*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  box-sizing: border-box;
}
body {
  padding: 3rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.font-size-1 {
  font-size: 3rem;
}

.font-size-2 {
  font-size: 2.5rem;
}

.font-size-3 {
  font-size: 2rem;
}

.margin-left-2 {
  margin-left: 1rem;
}

.header {
  height: 95rem;
  background-image: linear-gradient(red, yellow);
  background-repeat: no-repeat;
  position: relative;
}

.header-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content--text {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.select-your-color {
  margin-top: 2rem;
}

.select-direction {
  margin-top: 2rem;
}

.select-direction--options {
  width: 25rem;
  height: 3rem;
  outline: none;
}

.linear-gradient-code {
  margin-top: 7rem;
}

.linear-gradient-code--text {
  text-transform: uppercase;
}

.linear-gradient-code--container {
  margin-top: 2rem;
}

#linear-gradient-code--input {
  width: 50rem;
  margin: auto;
  height: 4.5rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
  border: 2px solid black;
  outline: none;
}

.linear-gradient-code--copyButton {
  margin-top: 2rem;
}

.button {
  width: 50rem;
  padding: 0.7rem 0;
  border-radius: 5rem;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 100;
  letter-spacing: 0.1rem;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.1s;
  outline: none;
  margin: auto;
  letter-spacing: 2px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.footer {
  background-color: #333;
  height: 20rem;
  position: relative;
}

.footer-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container--text {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  font-family: "Pragati Narrow", sans-serif;
}

blockquote::before {
  content: "<a>";
  font-size: 3.5rem;
}

blockquote::after {
  content: "</a>";
  font-size: 3.5rem;
}

.footer-container--link:link,
.footer-container--link:visited {
  text-decoration: none;
  color: transparent;
  transition: all 0.2s;
  font-size: 2.5rem;
}

.footer-container--link:hover,
.footer-container--link:active {
  letter-spacing: 3px;
  font-weight: 500;
}
